---
import Layout from "../../layouts/AppContainer.astro";
import SimpleCalculator from "./SimpleCalculator.svelte";
---

<Layout
	title="Simple Calculator"
	description="Calculate your simple math problems with ease."
>
    <h1 class="text-4xl font-bold mb-4 text-center">Simple Calculator</h1>
	<SimpleCalculator client:load />
</Layout>
